<style>
    div {
        border-radius: 10px;
    }

    a {
        text-decoration: none;

    }
</style>

<div class="text-center p-5 ">
   
   <div class="border row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
               <img src="/img/big.png" alt="" srcset="" style="width: 90%;">  
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 " >
                  <p style="margin-top: 5%;font-family: 'Digi Delbar3';font-size: 20px;">سلام دوست خوبم  </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;" >من رحیم قاسمی  مدرس این دوره هستم </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;" class="mt-3">" <mark> من یک برنامه نویس مینیمالیست هستم </mark>"</p>
                           
            <p> <a href="https://github.com/hampadco" >  GitHub</a> | <a href="mailto:Developer.justdoit@gmail.com" >
                Email</a> | <a href="https://www.linkedin.com/in/enghasemi/" >Linkedin</a> | <a href="tel:+989222937565">Phone</a></p>
     
        </div>
     
        


    </div>

    <div class=" row mt-2">

            

        <div class=" col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 p-3 ">
             <a href="" class="btn btn-outline-secondary form-control">C# Basic</a>
            
             </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-12 p-3">
            <a href="/" class="btn btn-outline-secondary form-control" style="font-family: 'Digi Delbar3';font-size: 20px;">صفحه اصلی</a>
            
             </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session one *@
            <div id="59396378695"><script type="text/JavaScript" src="https://www.aparat.com/embed/ypQrn?data[rnddiv]=59396378695&data[responsive]=yes&titleShow=true"></script></div>


            <div class="card-body">
                <p class="card-title">Session 1</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session two *@
            <div id="53221055427"><script type="text/JavaScript" src="https://www.aparat.com/embed/c4KRD?data[rnddiv]=53221055427&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 2</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session three *@
            <div id="23032723578"><script type="text/JavaScript" src="https://www.aparat.com/embed/2MvmF?data[rnddiv]=23032723578&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 3</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session four *@
            <div id="98682255028"><script type="text/JavaScript" src="https://www.aparat.com/embed/GuXT6?data[rnddiv]=98682255028&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 4</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session five *@
            <div id="15923922943"><script type="text/JavaScript" src="https://www.aparat.com/embed/0L9Rw?data[rnddiv]=15923922943&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 5</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session six *@
            <div id="27700386770"><script type="text/JavaScript" src="https://www.aparat.com/embed/oiXxl?data[rnddiv]=27700386770&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 6</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session seven *@
            <div id="81321847522"><script type="text/JavaScript" src="https://www.aparat.com/embed/1BM5x?data[rnddiv]=81321847522&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 7</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session eight *@
            <div id="79552528522"><script type="text/JavaScript" src="https://www.aparat.com/embed/HYZP8?data[rnddiv]=79552528522&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 8</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session nine *@
            <div id="46927541210"><script type="text/JavaScript" src="https://www.aparat.com/embed/Ej3Kk?data[rnddiv]=46927541210&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 9</p>

            </div>

        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session ten *@
            <div id="38209573169"><script type="text/JavaScript" src="https://www.aparat.com/embed/EHvX8?data[rnddiv]=38209573169&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 10</p>

            </div>
        </div>

         <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session 11 *@
            <div id="16438424571"><script type="text/JavaScript" src="https://www.aparat.com/embed/AhClx?data[rnddiv]=16438424571&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 11</p>

            </div>
        </div>

         <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            @* session 12 *@
            <div id="77701973955"><script type="text/JavaScript" src="https://www.aparat.com/embed/P8c6D?data[rnddiv]=77701973955&data[responsive]=yes&titleShow=true"></script></div>

            <div class="card-body">
                <p class="card-title">Session 12</p>

            </div>
        </div>
            
             <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
                @* session 13 *@
                <div id="72419106553"><script type="text/JavaScript" src="https://www.aparat.com/embed/6Koth?data[rnddiv]=72419106553&data[responsive]=yes&titleShow=true"></script></div>
    
                <div class="card-body">
                    <p class="card-title">Session 13</p>
    
                </div>
             </div>

              <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
                @* session 14 *@
                <div id="77765803869"><script type="text/JavaScript" src="https://www.aparat.com/embed/jy2n6?data[rnddiv]=77765803869&data[responsive]=yes&titleShow=true"></script></div>
    
                <div class="card-body">
                    <p class="card-title">Session 14</p>
    
                </div>
             </div>

              <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
                @* session 15 *@
                <div id="39774562906"><script type="text/JavaScript" src="https://www.aparat.com/embed/uqICf?data[rnddiv]=39774562906&data[responsive]=yes&titleShow=true"></script></div>
    
                <div class="card-body">
                    <p class="card-title">Session 15</p>
    
                </div>
             </div>














     
     
       




    </div>