<style>
    div {
        border-radius: 10px;
    }

    a {
        text-decoration: none;

    }
</style>

<div class="text-center p-5 ">
   
   <div class="border row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
               <img src="/img/big.png" alt="" srcset="" style="width: 90%;">  
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 " >
                  <p style="margin-top: 5%;font-family: 'Digi Delbar3';font-size: 20px;">سلام دوست خوبم  </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;" >من رحیم قاسمی  مدرس این دوره هستم </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;" class="mt-3">" <mark> من یک برنامه نویس مینیمالیست هستم </mark>"</p>
                           
            <p> <a href="https://github.com/hampadco" >  GitHub</a> | <a href="mailto:Developer.justdoit@gmail.com" >
                Email</a> | <a href="https://www.linkedin.com/in/enghasemi/" >Linkedin</a> | <a href="tel:+989222937565">Phone</a></p>
     
        </div>
     
        


    </div>

    <div class=" row mt-2">

            

        <div class=" col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 p-3 ">
             <a href="" class="btn btn-outline-secondary form-control">Html && Css</a>
            
             </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-12 p-3">
            <a href="/" class="btn btn-outline-secondary form-control" style="font-family: 'Digi Delbar3';font-size: 20px;">صفحه اصلی</a>
            
             </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <script type="text/JavaScript"
                    src="https://www.aparat.com/embed/S0G47?data[rnddiv]=24698202501&data[responsive]=yes&titleShow=true"></script>
            </div>
            <div class="card-body">
                <p class="card-title">Session 1</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="79417409209">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/xtF7o?data[rnddiv]=79417409209&data[responsive]=yes&titleShow=true"></script>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Session 2</p>

            </div>
        </div>


        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="22835458867">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/Umbvx?data[rnddiv]=22835458867&data[responsive]=yes&titleShow=true"></script>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Session 3</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="33421935389">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/9r0ZU?data[rnddiv]=33421935389&data[responsive]=yes&titleShow=true"></script>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Session 4</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="99442266301">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/BmpgE?data[rnddiv]=99442266301&data[responsive]=yes&titleShow=true"></script>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Session 5</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="12620802982">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/KZPCE?data[rnddiv]=12620802982&data[responsive]=yes&titleShow=true"></script>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Session 6</p>

            </div>
        </div>

        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="70145366985">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/l4S9i?data[rnddiv]=70145366985&data[responsive]=yes&titleShow=true"></script>
                </div>
                <div class="card-body">
                    <p class="card-title">Session 7</p>

                </div>
            </div>
        </div>



        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="40641604529">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/hU8oy?data[rnddiv]=40641604529&data[responsive]=yes&titleShow=true"></script>
                </div>
                <div class="card-body">
                    <p class="card-title">Session 8</p>

                </div>
            </div>
        </div>



        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="34149530003">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/24hz9?data[rnddiv]=34149530003&data[responsive]=yes&titleShow=true"></script>
                </div>
                <div class="card-body">
                    <p class="card-title">Session 9</p>

                </div>
            </div>
        </div>


        <div class="card col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 p-3">
            <div id="24698202501">
                <div id="72129743143">
                    <script type="text/JavaScript"
                        src="https://www.aparat.com/embed/ckW3b?data[rnddiv]=72129743143&data[responsive]=yes&titleShow=true"></script>
                </div>
                <div class="card-body">
                    <p class="card-title">Session 10</p>

                </div>
            </div>



        </div>





    </div>