<style>
    div{
        border-radius: 10px;
       
    }
    a{
        text-decoration: none;
        
    }
  
</style>

<div class="text-center p-5 ">
    <div class="border row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
               <img src="/img/big.png" alt="" srcset="" style="width: 90%;">  
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 " >
                  <p style="margin-top: 5%;font-family: 'Digi Delbar3';font-size: 20px;color:blue">سلام دوست خوبم  </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue" >من رحیم قاسمی  مدرس این دوره هستم </p>
                <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue" class="mt-3">" <mark> من یک برنامه نویس مینیمالیست هستم </mark>"</p>
                           
            <p> <a href="https://github.com/hampadco"  style="font-family: 'Digi Delbar3';font-size: 16px;color:blue" >  GitHub</a> | <a href="mailto:Developer.justdoit@gmail.com"  style="font-family: 'Digi Delbar3';font-size: 16px;color:blue" >
                Email</a> | <a href="https://www.linkedin.com/in/enghasemi/"  style="font-family: 'Digi Delbar3';font-size: 16px;color:blue">Linkedin</a> | <a href="tel:+989222937565"  style="font-family: 'Digi Delbar3';font-size: 16px;color:blue">Phone</a></p>
     
        </div>
     
        


    </div>

    

    <div class=" row mt-2">
        <div class="border p-2 mb-2 alert "  style="font-family: 'Digi Delbar3';font-size: 20px;color:blue"><b> دوره های رایگان از قبل ضبط شده </b></div>

        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/html.png" alt="" srcset="" style="width: 80%;">
            <a href="/home/html"  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Html && Css</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/git.png" alt="" srcset="" style="width: 80%;">
            <a href="/home/git"  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Git & GitHub</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/cb.png" alt="" srcset="" style="width: 80%;">
            <a href="/home/csharpbasic"  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Basic C#</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/ca.png" alt="" srcset="" style="width: 80%;">
            <a href=""  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Advance C#</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/net1.png" alt="" srcset="" style="width: 80%;">
            <a href=""  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Basic .Net Core</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/asp2.png" alt="" srcset="" style="width: 80%;">
            <a href=""  rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Advance .net Core</a>

        </div>

    </div>

    <div class=" row mt-2">
        <div class="border p-2 mb-2 alert "  style="font-family: 'Digi Delbar3';font-size: 20px;color:blue"><b> بوت کمپ آموزش و جذب برنامه نویس </b></div>
         <div class=" col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-3 border ">
            <div id="32559217481"><script type="text/JavaScript" src="https://www.aparat.com/embed/toNOX?data[rnddiv]=32559217481&data[responsive]=yes&titleShow=true"></script></div>   <p class="btn btn-outline-secondary mt-2 form-control"  style="font-family: 'Digi Delbar3';font-size: 20px;color:blue">توضیحات ویدیوی درباره این دوره</p>
         </div>

                  <div class=" col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-3 border ">

                    <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue">نام دوره : آموزش برنامه نویس فول استک دات نت </p>
                    <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue"> مدت ساعت  :   حدود  200ساعت </p>
                    <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue">  پیش نیاز :  در حد آشنایی با مفاهیم اولیه</p>
                    <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue">  مخاطب :  کسانی که میخواهند برنامه نویسی را از صفر یاد بگیرند</p>
                    <p style="font-family: 'Digi Delbar3';font-size: 20px;color:blue">
                        توضیحات : دوستان زمان کلاس ها با برنامه شما هماهنگ خواهد شد کلیه کلاس ها بصورت آنلاین برگزار خواهد شد ویدیو ضبط و بعد کلاس خدمتتون داده میشه تیم سازی خواهید شد و کلی کار باحال که یادگیری رو براتون آسونتر و رونتر کنیم ، هزینه کل دوره 5 میلیون تومن  هستش که بصورت یکجا اول دوره دریافت میشه دوستانی که در آخر دوره امتیاز بالای 80 داشته باشند هزینه دوره عودت داده میشه خدمتشون و اگر دوست داشته باشند در تیم ما مشغول به کار خواهند شد ، سرفصل ها به صورت کامل در زیر براتون آورده شده و اطلاعات تکمیلی رو میتونید از ویدیو زیر یا روبرو ببنید .

                    </p> 
                  </div>



    </div>


    



</div>




 <div class="container">
                <div class="border p-2 mb-2 alert text-center "  style="font-family: 'Digi Delbar3';font-size: 20px;color:blue"><b>  سرفصل های دوره صفر تا صد آموزش برنامه نویس دات نت   </b></div>

        <!-- General Development Skills -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">General Development Skills</li>
            <ul class="list-group">
                <li class="list-group-item">Learn Git, create a few repositories on GitHub, share your code with other
                    people</li>
                <li class="list-group-item">Know HTTP(S) protocol, request methods (GET, POST, PUT, PATCH, DELETE,
                    OPTIONS, etc.)</li>
                <li class="list-group-item">What is TLS?</li>
                <li class="list-group-item">What is SSL?</li>
                <li class="list-group-item">Don't be afraid of using Google, Power Searching with Google</li>
                <li class="list-group-item">Start using ChatGPT</li>
                <li class="list-group-item">Read a few books about algorithms and data structures</li>
            </ul>
        </ul>

        <!-- C# -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">C#</li>
            <ul class="list-group">
                <li class="list-group-item">.NET 7</li>
                <li class="list-group-item">Learn dotnet CLI</li>
            </ul>
        </ul>

        <!-- SQL Fundamentals -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">SQL Fundamentals</li>
            <ul class="list-group">
                <li class="list-group-item">Pluralsight Learning Path: Querying Data with T-SQL from SQL Server</li>
            </ul>
        </ul>

        <!-- ASP.NET Core Basics -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">ASP.NET Core Basics</li>
            <ul class="list-group">
                <li class="list-group-item">MVC</li>
                <li class="list-group-item">REST</li>
                <li class="list-group-item">Application Settings & Configurations</li>
                <li class="list-group-item">Middlewares</li>
                <li class="list-group-item">Filters & Attributes</li>
                <li class="list-group-item">Authentication</li>
                <li class="list-group-item">Authorization</li>
                <li class="list-group-item">IdentityServer</li>
                <li class="list-group-item">OpenIddict</li>
                <li class="list-group-item">Auth0</li>
                <li class="list-group-item">Razor Pages</li>
                <li class="list-group-item">Razor Components</li>
            </ul>
        </ul>

        <!-- SOLID -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">SOLID</li>
            <ul class="list-group">
                <li class="list-group-item">Single Responsibility Principle (SRP)</li>
                <li class="list-group-item">Open-Closed Principle (OCP)</li>
                <li class="list-group-item">Liskov Substitution Principle (LSP)</li>
                <li class="list-group-item">Interface Segregation Principle (ISP)</li>
                <li class="list-group-item">Dependency Inversion Principle (DIP)</li>
            </ul>
        </ul>

        <!-- ORM -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">ORM</li>
            <ul class="list-group">
                <li class="list-group-item">Entity Framework Core</li>
                <li class="list-group-item">Dapper</li>
              
            </ul>
        </ul>

        <!-- Dependency Injection -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Dependency Injection</li>
            <ul class="list-group">
                <li class="list-group-item">DI Containers</li>
                <li class="list-group-item">Microsoft.Extensions.DependencyInjection</li>
                <li class="list-group-item">Life Cycles</li>
                <li class="list-group-item">Scrutor</li>
            </ul>
        </ul>

        <!-- Databases -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Databases</li>
            <ul class="list-group">
                <li class="list-group-item">Relational</li>
                <li class="list-group-item">Search Engines</li>
                <li class="list-group-item">NoSQL</li>
              
            </ul>
        </ul>

        <!-- Caching -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Caching</li>
            <ul class="list-group">
                <li class="list-group-item">Memory Cache</li>
                <li class="list-group-item">Distributed Cache</li>
                <li class="list-group-item">Application-Level</li>
                <li class="list-group-item">Built-in</li>
              
            </ul>
        </ul>

        <!-- Log Frameworks -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Log Frameworks</li>
            <ul class="list-group">
                <li class="list-group-item">Serilog</li>
               
            </ul>
        </ul>

        <!-- API Clients & Communications -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">API Clients & Communications</li>
            <ul class="list-group">
                <li class="list-group-item">REST</li>
                <li class="list-group-item">gRPC</li>
                <li class="list-group-item">GraphQL</li>
               
            </ul>
        </ul>

        <!-- Object Mapping -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Object Mapping</li>
            <ul class="list-group">
                <li class="list-group-item">AutoMapper</li>
               
            </ul>
        </ul>

        <!-- Background Task Scheduler -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Background Task Scheduler</li>
            <ul class="list-group">
                <li class="list-group-item">Native BackgroundService</li>
                <li class="list-group-item">HangFire</li>
                <li class="list-group-item">Quartz</li>
               
            </ul>
        </ul>

        <!-- Testing -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Testing</li>
            <ul class="list-group">
                <li class="list-group-item">Unit Testing</li>
                <li class="list-group-item">Mocking</li>
                <li class="list-group-item">Assertion</li>
                <li class="list-group-item">Fake Data Generators</li>
                <li class="list-group-item">Integration Testing</li>
                <li class="list-group-item">Snapshot Testing</li>
                <li class="list-group-item">Behavior Testing</li>
                <li class="list-group-item">E2E Testing</li>
                <li class="list-group-item">Performance Testing</li>
            </ul>
        </ul>

        <!-- Microservices -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Microservices</li>
            <ul class="list-group">
                <li class="list-group-item">Message-Brokers</li>
                <li class="list-group-item">Message-Bus</li>
                <li class="list-group-item">API Gateway</li>
                <li class="list-group-item">Containerization</li>
                <li class="list-group-item">Orchestration</li>
                <li class="list-group-item">Other</li>
            </ul>
        </ul>

        <!-- Continuous Integration & Continuous Delivery -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Continuous Integration & Continuous Delivery</li>
            <ul class="list-group">
                <li class="list-group-item">GitHub Actions</li>
                <li class="list-group-item">Gitlab CI</li>
                <li class="list-group-item">Azure Pipelines</li>
                <li class="list-group-item">Travis CI</li>
                <li class="list-group-item">Jenkins</li>
                <li class="list-group-item">Circle CI</li>
                <li class="list-group-item">TeamCity</li>
            </ul>
        </ul>

        <!-- Design Patterns -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Design Patterns</li>
            <ul class="list-group">
                <li class="list-group-item">Creational</li>
                <li class="list-group-item">Structrual</li>
                 <li class="list-group-item">Behavioral</li>


            </ul>
        </ul>

        <!-- Monitoring/Logging/Tracing/Alerting -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Monitoring/Logging/Tracing/Alerting</li>
            <ul class="list-group">
                <li class="list-group-item">Monitoring</li>
                <li class="list-group-item">Logging</li>
                <li class="list-group-item">Tracing</li>
                <li class="list-group-item">Alerting</li>
            </ul>
        </ul>

        <!-- Client-Side .NET -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Client-Side .NET</li>
            <ul class="list-group">
                <li class="list-group-item">Template Engines Razor</li>
                <li class="list-group-item">Frameworks Blazor</li>
            </ul>
        </ul>

        <!-- Good to Know -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">Good to Know</li>
            <ul class="list-group">
                <li class="list-group-item">MediatR</li>
                <li class="list-group-item">Fluent Validation</li>
                <li class="list-group-item">Polly</li>
               
            </ul>
        </ul>
    </div>


