<style>
    div{
        border-radius: 10px;
    }
    a{
        text-decoration: none;
        
    }
</style>

<div class="text-center p-5 ">
    <div class="border row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12">
               <img src="/img/big.png" alt="" srcset="" style="width: 90%;">  
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 " >
                  <p style="margin-top: 7%;">Hello, my friend! </p>
                <p >My Name is <mark> Rahim Ghasemi</mark> </p>
                <p>"I am a <mark> .NET programmer and a minimalist</mark>."</p>
                           
            <p> Contact me: <a href="https://github.com/hampadco" target="_blank">  GitHub</a> | <a href="mailto:Developer.justdoit@gmail.com" >
                Email</a> | <a href="https://www.linkedin.com/in/enghasemi/" target="_blank">Linkedin</a> | <a href="tel:+989222937565">Phone</a></p>
     
        </div>
     
        


    </div>

    <div class=" row mt-2">

        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/html.png" alt="" srcset="" style="width: 80%;">
            <a href="/home/html" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Html && Css</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/git.png" alt="" srcset="" style="width: 80%;">
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Git & GitHub</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/cb.png" alt="" srcset="" style="width: 80%;">
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Basic C#</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/ca.png" alt="" srcset="" style="width: 80%;">
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Advance C#</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/net1.png" alt="" srcset="" style="width: 80%;">
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Basic .Net Core</a>

        </div>
        <div class=" col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 p-3 border ">

            <img src="/img/asp2.png" alt="" srcset="" style="width: 80%;">
            <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary mt-2 form-control" >Advance .net Core</a>

        </div>

    </div>

    



</div>




