@{
    Layout=null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Categories</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Resource Categories</h1>

        <!-- General Development Skills -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">General Development Skills</li>
            <ul class="list-group">
                <li class="list-group-item">Learn Git, create a few repositories on GitHub, share your code with other
                    people</li>
                <li class="list-group-item">Know HTTP(S) protocol, request methods (GET, POST, PUT, PATCH, DELETE,
                    OPTIONS, etc.)</li>
                <li class="list-group-item">What is TLS?</li>
                <li class="list-group-item">What is SSL?</li>
                <li class="list-group-item">Don't be afraid of using Google, Power Searching with Google</li>
                <li class="list-group-item">Start using ChatGPT</li>
                <li class="list-group-item">Read a few books about algorithms and data structures</li>
            </ul>
        </ul>

        <!-- C# -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">C#</li>
            <ul class="list-group">
                <li class="list-group-item">.NET 7</li>
                <li class="list-group-item">Learn dotnet CLI</li>
            </ul>
        </ul>

        <!-- SQL Fundamentals -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">SQL Fundamentals</li>
            <ul class="list-group">
                <li class="list-group-item">Pluralsight Learning Path: Querying Data with T-SQL from SQL Server</li>
            </ul>
        </ul>

        <!-- ASP.NET Core Basics -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">ASP.NET Core Basics</li>
            <ul class="list-group">
                <li class="list-group-item">MVC</li>
                <li class="list-group-item">REST</li>
                <li class="list-group-item">Application Settings & Configurations</li>
                <li class="list-group-item">Middlewares</li>
                <li class="list-group-item">Filters & Attributes</li>
                <li class="list-group-item">Authentication</li>
                <li class="list-group-item">Authorization</li>
                <li class="list-group-item">IdentityServer</li>
                <li class="list-group-item">OpenIddict</li>
                <li class="list-group-item">Auth0</li>
                <li class="list-group-item">OIDC</li>
                <li class="list-group-item">Razor Pages</li>
                <li class="list-group-item">Razor Components</li>
            </ul>
        </ul>

        <!-- SOLID -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">SOLID</li>
            <ul class="list-group">
                <li class="list-group-item">Single Responsibility Principle (SRP)</li>
                <li class="list-group-item">Open-Closed Principle (OCP)</li>
                <li class="list-group-item">Liskov Substitution Principle (LSP)</li>
                <li class="list-group-item">Interface Segregation Principle (ISP)</li>
                <li class="list-group-item">Dependency Inversion Principle (DIP)</li>
            </ul>
        </ul>

        <!-- ORM -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">ORM</li>
            <ul class="list-group">
                <li class="list-group-item">Entity Framework Core</li>
                <li class="list-group-item">Dapper</li>
                <li class="list-group-item">RepoDB</li>
            </ul>
        </ul>

        <!-- Dependency Injection -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Dependency Injection</li>
            <ul class="list-group">
                <li class="list-group-item">DI Containers</li>
                <li class="list-group-item">Microsoft.Extensions.DependencyInjection</li>
                <li class="list-group-item">AutoFac</li>
                <li class="list-group-item">Ninject</li>
                <li class="list-group-item">Castle Windsor</li>
                <li class="list-group-item">Simple Injector</li>
                <li class="list-group-item">Life Cycles</li>
                <li class="list-group-item">Scrutor</li>
            </ul>
        </ul>

        <!-- Databases -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Databases</li>
            <ul class="list-group">
                <li class="list-group-item">Relational</li>
                <li class="list-group-item">Search Engines</li>
                <li class="list-group-item">NoSQL</li>
                <li class="list-group-item">On-Premises</li>
                <li class="list-group-item">Cloud</li>
            </ul>
        </ul>

        <!-- Caching -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Caching</li>
            <ul class="list-group">
                <li class="list-group-item">Memory Cache</li>
                <li class="list-group-item">Distributed Cache</li>
                <li class="list-group-item">Application-Level</li>
                <li class="list-group-item">Built-in</li>
                <li class="list-group-item">Entity Framework 2nd Level Cache</li>
            </ul>
        </ul>

        <!-- Log Frameworks -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Log Frameworks</li>
            <ul class="list-group">
                <li class="list-group-item">Serilog</li>
                <li class="list-group-item">NLog</li>
            </ul>
        </ul>

        <!-- API Clients & Communications -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">API Clients & Communications</li>
            <ul class="list-group">
                <li class="list-group-item">REST</li>
                <li class="list-group-item">Sieve</li>
                <li class="list-group-item">OData</li>
                <li class="list-group-item">REPR Pattern</li>
                <li class="list-group-item">Minimal APIs</li>
                <li class="list-group-item">Fast Endpoints</li>
                <li class="list-group-item">gRPC</li>
                <li class="list-group-item">GraphQL</li>
                <li class="list-group-item">Real-Time Communication</li>
            </ul>
        </ul>

        <!-- Object Mapping -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Object Mapping</li>
            <ul class="list-group">
                <li class="list-group-item">AutoMapper</li>
                <li class="list-group-item">Mapster</li>
                <li class="list-group-item">ExpressMapper</li>
                <li class="list-group-item">AgileMapper</li>
            </ul>
        </ul>

        <!-- Background Task Scheduler -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Background Task Scheduler</li>
            <ul class="list-group">
                <li class="list-group-item">Native BackgroundService</li>
                <li class="list-group-item">HangFire</li>
                <li class="list-group-item">Quartz</li>
                <li class="list-group-item">Coravel</li>
            </ul>
        </ul>

        <!-- Testing -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Testing</li>
            <ul class="list-group">
                <li class="list-group-item">Unit Testing</li>
                <li class="list-group-item">Mocking</li>
                <li class="list-group-item">Assertion</li>
                <li class="list-group-item">Fake Data Generators</li>
                <li class="list-group-item">Integration Testing</li>
                <li class="list-group-item">Snapshot Testing</li>
                <li class="list-group-item">Behavior Testing</li>
                <li class="list-group-item">E2E Testing</li>
                <li class="list-group-item">Performance Testing</li>
            </ul>
        </ul>

        <!-- Microservices -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Microservices</li>
            <ul class="list-group">
                <li class="list-group-item">Message-Brokers</li>
                <li class="list-group-item">Message-Bus</li>
                <li class="list-group-item">API Gateway</li>
                <li class="list-group-item">Containerization</li>
                <li class="list-group-item">Orchestration</li>
                <li class="list-group-item">Other</li>
            </ul>
        </ul>

        <!-- Continuous Integration & Continuous Delivery -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Continuous Integration & Continuous Delivery</li>
            <ul class="list-group">
                <li class="list-group-item">GitHub Actions</li>
                <li class="list-group-item">Gitlab CI</li>
                <li class="list-group-item">Azure Pipelines</li>
                <li class="list-group-item">Travis CI</li>
                <li class="list-group-item">Jenkins</li>
                <li class="list-group-item">Circle CI</li>
                <li class="list-group-item">TeamCity</li>
            </ul>
        </ul>

        <!-- Design Patterns -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Design Patterns</li>
            <ul class="list-group">
                <li class="list-group-item">Categories</li>
                <li class="list-group-item">Tutorials</li>
            </ul>
        </ul>

        <!-- Monitoring/Logging/Tracing/Alerting -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Monitoring/Logging/Tracing/Alerting</li>
            <ul class="list-group">
                <li class="list-group-item">Monitoring</li>
                <li class="list-group-item">Logging</li>
                <li class="list-group-item">Tracing</li>
                <li class="list-group-item">Alerting</li>
            </ul>
        </ul>

        <!-- Client-Side .NET -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Client-Side .NET</li>
            <ul class="list-group">
                <li class="list-group-item">Template Engines</li>
                <li class="list-group-item">Frameworks</li>
            </ul>
        </ul>

        <!-- Good to Know -->
        <ul class="list-group my-3">
            <li class="list-group-item list-group-item-primary">Good to Know</li>
            <ul class="list-group">
                <li class="list-group-item">MediatR</li>
                <li class="list-group-item">Fluent Validation</li>
                <li class="list-group-item">Polly</li>
                <li class="list-group-item">Benchmark.NET</li>
                <li class="list-group-item">NodaTime</li>
                <li class="list-group-item">Swashbuckle</li>
                <li class="list-group-item">Nuke</li>
                <li class="list-group-item">EF Core Bulk Extensions</li>
            </ul>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
